
*.cache
*.cache
*.cache
DynamicsCustomizations/.vs/CRM/v16/.suo
DynamicsCustomizations/CRM.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.cache
DynamicsCustomizations/.vs/CRM/v16/.suo
DynamicsCustomizations/.vs/CRM/v16/.suo
/DynamicsCustomizations/DocumentUrlPlugin/bin/Debug
/DynamicsCustomizations/DocumentUrlPlugin/obj/Debug
/DynamicsCustomizations/packages/Microsoft.CrmSdk.Workflow.9.0.2.26
DynamicsCustomizations/.vs/CRM/v16/.suo
*.cache
*.dll
*.pdb
*.CopyComplete
DynamicsCustomizations/DocumentUrlPlugin/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
DynamicsCustomizations/.vs/CRM/v16/.suo
DynamicsCustomizations/CRM.Web/obj/Release/.NETFramework,Version=v4.6.2.AssemblyAttributes.cs
DynamicsCustomizations/DocumentUrlPlugin/bin/Release/Microsoft.Crm.Sdk.Proxy.xml
DynamicsCustomizations/DocumentUrlPlugin/bin/Release/Microsoft.Xrm.Sdk.Workflow.xml
DynamicsCustomizations/DocumentUrlPlugin/bin/Release/Microsoft.Xrm.Sdk.xml
DynamicsCustomizations/DocumentUrlPlugin/obj/Release/DocumentUrlPlugin.csproj.FileListAbsolute.txt
DynamicsCustomizations/.vs/CRM/v16/.suo
*.cache
DynamicsCustomizations/.vs/CRM/v16/.suo
*.ini
DynamicsCustomizations/.vs/CRM/v16/.suo
*.cache
/DynamicsCustomizations/CRM.Reports/bin/Debug
*.rsuser
DynamicsCustomizations/.vs/CRM/v16/.suo
